.travel-card {
  // width: calc((100% - 20px) / 2);
  grid-row-start: auto;
  // grid-row-end: span 180;
  width: 100%;
  height: fit-content;
  align-self: flex-start;
  margin: 0;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  // height: auto;
  display: flex;
  // break-inside: avoid;

  &.vertical {
    height: 550px;
    .card-image {
      height: 400px;
    }
  }

  &.horizontal {
    height: 390px;
    .card-image {
      height: 240px;
    }
  }

  .card-image-container {
    width: 100%;
    position: relative;
    min-height: 150px;

    .card-image {
      display: block;
      width: 100%;
      // height: 100%;
      object-fit: cover;
      background-color: #f0f0f0;
    }

    .play-icon-container {
      position: absolute;
      top: 8px;
      right: 8px;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 50%;
      padding: 6px;
      display: flex;
      align-items: center;
      justify-content: center;

      .at-icon {
        position: relative;
        left: 5px;
        display: block; // 有助于某些情况下的对齐
      }
    }
  }

  // .card-image {
  //   width: 100%;
  //   object-fit: cover;
  // }

  .card-content {
    padding: 16px;
    // height: 200px; // 固定内容区域高度
    flex: 1; // 移除flex: 1，使用固定高度
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;

    .title {
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 16px;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    .bottom-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: auto;

      .author-info {
        display: flex;
        align-items: center;

        .avatar {
          width: 48px;
          height: 48px;
          border-radius: 50%;
          margin-right: 12px;
        }

        .author-name {
          font-size: 28px;
          color: #666;
        }
      }

      .like-btn {
        display: flex;
        align-items: center;
        padding: 8px 12px;

        .like-count {
          font-size: 24px;
          color: #666;
          margin-left: 8px;
        }
      }
    }
  }
}
