.home {
  .header {
    padding: 20px;
    background: #fff;
    .title {
      font-size: 36px;
      font-weight: bold;
    }
  }

  .content {
    padding: 10px;
    box-sizing: border-box;

    .travel-list {
      display: block;
      columns: 2;
      column-gap: 20px;
      // display: grid;
      // grid-template-columns: repeat(2, 1fr);
      // align-items: start;
      // grid-auto-rows: minmax(380px, 600px);
      // gap: 20px;
      background: #fff;
      border-radius: 12px;
      padding: 16px;
      box-sizing: border-box;
      width: 100%;
    }
  }

  .search-bar {
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 24px;
    padding: 16px 24px;
    background: #f6f6f6;
    border-radius: 36px;
    
    .at-icon {
      font-size: 32px;
    }

    .placeholder {
      color: #999;
      font-size: 28px;
    }
  }
}
